.container {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 700px;
  height: 500px;
  background-color: #212121;
  border: 1px solid #fa1e3e;
  // display: grid;
}

h1, h2 {
  text-align: center;
  text-shadow: 1px 1px 1px #fa1e3e;
}
