.container__new-note {
  display: flex;
  margin-top: auto;
}

.new-note__input {
  width: 600px;
  border: 1px solid #36914e;
}
  
.new-note__submit {
  margin-left: auto;
  width: 85px;
  border: 1px solid #36914e;
}
