.notes-list__note {
  display: flex;
  margin-bottom: 10px;
}

.note__buttons {
  display: grid;
}

.note__input {
  color: white;
  border: 1px solid #fa1e3e;
  padding: 0.2em;
  box-sizing: border-box;
}

.note__input-p {
  padding-left: 5px;
  margin: 0;
  display: inline-block;
  max-width: 610px;
  width: 100%;
}

.note__input-input {
  color: black;
  display: inline-block;
  max-width: 610px;
  width: 100%;
  height: 38px;
}

.note__buttons {
  width: 85px;
  display: grid;
  margin-left: auto;
}

.button {
  color: white;
  border: 1px solid #fa1e3e;
  background-color: #212121;
  transition: all 0.3s ease;
}

.button:hover {
  color: #fa1e3e;
}

form {
  margin: 0;
}
