.notes-list__note {
  display: flex;
  margin-bottom: 10px;
}

.note__buttons {
  display: grid;
}

.note__input {
  padding: 5px;
  color: white;
  width: 600px;
  border: 1px solid #fa1e3e;
}

.note__buttons {
  width: 85px;
  display: grid;
  margin-left: auto;
}

.button {
  color: white;
  border: 1px solid #fa1e3e;
  background-color: #212121;
  transition: all 0.3s ease;
}

.button:hover {
  color: #36914e;
  border: 1px solid white;
  background-color: #212121;
}